<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"   content="Fernando Cabanillas">
    <meta name="description" content="Refugio de perros en Málaga con mas de 15 de experiencia en rescate, cuidado y adopción de perros">
    <meta name="keywords" content="refugio de perros, adopción, perros en adopción, protectora, Patitas, animales, quiénes somos">
    <title>Contacta con Nosotros</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    
</head>
<body>
  
  <header>
   <div class="branding">
    <a href="../index.html"><img src="../images/patitas.jpg" alt="logo de empresa" class="logo"></a> 
    <a href="../index.html"><h1>Patitas</h1></a>
   </div>

   <nav>
    <ul>
      <li><a href="../index.html" class="enlace">¿Quiénes somos?</a></li>
      <li><a href="./productos.html" class="enlace">Nuestras Patitas</a></li>
      <li><a href="#" class="enlace active">Contacta con Nosotros</a></li>
      <li><a href="./presupuesto.html" class="enlace">Adopta</a></li>
    </ul>
   </nav>
  </header>


 <!-- Sección de contacto -->
<main class="contacto">

  <!-- Enlace a la página de adopción con un título destacado y enlazado -->
  <a class="enlace" href="./presupuesto.html">
    <h2>🐾 Ponte en contacto con nosotros 🐾</h2>
  </a>

  <br><br> 

 
  <section class="info-contacto">

    <!-- Bloque con los datos básicos de la empresa -->
    <div class="datos-empresa">
      <h3>Datos de la empresa</h3>
      <p>Nombre: Patitas Refugio Canino</p>
      <p>Dirección: Calle Esperanza 123, Málaga</p>
      <p>Teléfono: +34 600 123 456</p>
      <p>Email: contacto@patitasrefugio.com</p>
    </div>

    <!-- Bloque con una imagen de un mapa de la ubicación del refugio -->
    <div class="mapa">
      <h3>Ubicación</h3>
      <img src="../images/maps.1.png" alt="Mapa de ubicación del refugio" width="500">
    </div>

  </section>

</main>

    
  <footer>
    <div class="social-icons">
        <a href="https://mail.google.com/" target="_blank"><img src="../images/iconmonstr-gmail-5.svg" alt="Gmail"></a>
        <a href="https://instagram.com" target="_blank"><img src="../images/iconmonstr-instagram-11.svg" alt=""></a>
        <a href="https://facebook.com" target="_blank"><img src="../images/iconmonstr-facebook-5.svg" alt="Facebook"></a>
        <a href="https://wa.me/" target="_blank"><img src="../images/iconmonstr-whatsapp-5.svg" alt="WhatsApp"></a>
    </div>
    
    <div class="company-info">
        <p>Refugio Patitas, Calle Esperanza 123, Málaga</p>
        <a  class="avisolegal" href="./aviso-legal.html" >Aviso legal</a>
    </div>

  </footer>

</body>
</html>